.DS_Store
*.logs
node_modules/
.vscode/
firebaseAPI_DTC16.js
.firebaserc
.404.html
.firebase.json
.firestore.rules
.firestore.indexes.json
.package-lock.json
```
404.html
firebase.json
.gitignore
firestore.indexes.json

firestore.rules
.firebase/hosting..cache
.firebase/hosting.cHVibGlj.cache
storage.rules
