.card-img {
  object-fit: cover;
}

.content {

  background-color: #D9D9D9;
  border-radius: 30px;

  border: none;
  padding: 30px
}

.contentright {
  text-align: center;
  padding-top: 5px;
}

.contenttitle {
  font-size: 40 px;
}

.contentdate {

  font-size: 20px;
}

.contentinfo {
  font-size: 12px;

}

.card img {
  height: 300px;
}

.container-height {
  height: 50px;
}

.container-fluid {
  background-color: #d9d9d9;
}

.card img {
  height: 250px;
}

.card:hover {
  background-color: #867777;

}

.responsive {
  width: 100%;
  height: auto;
}
.search-box{
  background-color: white;
  width: 80%;
  border-radius: 50px;
  height: 30px;
}

.search-bar{
  font-family: sans-serif;
  background: transparent;
}

.search-bar:focus{
  border: none;
  outline: none;
}

.fixed-height{
  height: 70px;
}

.result-box ul li{
  list-style: none;
  padding-top: 12px;
  cursor: pointer;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.result-box{
  z-index: 9999;
  position: relative;
}

.result-box ul li:hover{
  background-color: rgb(189, 189, 238);
  border-radius: 5px;
}

ul{
  padding: 0px;
}


/* Ben's css */

.thebox {

  border-radius: 40px;
  background-color: lightgray;
  border: none;
  padding: 10px;
}

.card img.logo {

  width: 50%;
  height: 100%;
}

/* createevets datetime dropdown */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

.input-group-addon {
  cursor: pointer;
}

.input-group.date {
  text-transform: uppercase;
}

.form-control {
  border: 1px solid #ccc;
  box-shadow: none;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid #34495e;
}

body {
  background: #e0e0e0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #34495e;
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td,
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  border-radius: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.old,
.bootstrap-datetimepicker-widget.dropdown-menu table td.new {
  color: #bbb;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.today:before {
  border-bottom-color: #0095ff;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.active,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active {
  background-color: #0095ff;
  text-shadow: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.active.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active.today:before {
  border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget.dropdown-menu table th {
  height: 40px;
  padding: 0;
  width: 40px;
}

.bootstrap-datetimepicker-widget.dropdown-menu table th.picker-switch {
  width: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th {
  border-bottom: 1px solid #34495e;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td.day {
  height: 32px;
  line-height: 32px;
  padding: 0;
  width: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu table td span {
  border-radius: 0;
  height: 77px;
  line-height: 77px;
  margin: 0;
  width: 25%;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-months tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-years tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  padding: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  height: 27px;
  line-height: 27px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span {
  display: block;
  float: left;
  width: 50%;
  height: 46px;
  line-height: 46px !important;
  padding: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span:not(.decade) {
  display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td {
  padding: 0;
  width: 30%;
  height: 20px;
  line-height: 20px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td:nth-child(2) {
  width: 10%;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
  border: none;
  border-radius: 0;
  height: 56px;
  line-height: 56px;
  padding: 0;
  width: 100%;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span {
  color: #333;
  margin-top: -1px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button:hover {
  background-color: #eee;
}

.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
  border-top: 1px solid #34495e;
}

.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td span {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 100%;
}

.todayText:before {
  content: "Today's Date";
}
@media screen and (max-width: 500px) {

  .box-title {

      font-size: 20px;
      
  }

  .card img.logo {

    width: 100%;
    height: 100%;
  }

  .boxinfo {
      font-size: 10px;
  }

  .date {

      font-size: 15px;
  }
  
}

@media screen and (max-width: 300px) {


  .box-title {

      font-size: 15px;
      
  }

  .card img.logo {

    width: 100%;
    height: 100%;
  }

  .boxinfo {
      font-size: 8px;
  }

  .date {

      font-size: 12px;
  }

  
}


/* gym card css */


.gym {

  border-radius: 40px;
  background-color: lightgray;
  border: none;
  padding: 10px;
}


/* gym page css */

.gym-info {

  background-color: #d9d9d9;
}

.gym-tab {

  background-color: #d9d9d9;
}

.info-tab {
  background-color: #d9d9d9;
}

.responsive {
  width: 100%;
  height: auto;
}

.information, .location, .schedule, .reviews{
  color: black;
}

.location:hover {

  color: white;
}

.schedule:hover {

  color: white;
}

.reviews:hover {
  color: white;
}

.gym-page {

  margin-bottom: 70px;
}

.gym-tab {

  padding-bottom: 100px;
}

/* Event page and gyms buttons starts here */
.event-button{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 25px;
}
.event-button a{
  text-decoration: none;
  color: white;
}
/* End here */


@media (max-width: 576px) {
  .gym-info-tabs {
      padding: 0 5px; 
      font-size: 0.8rem; 
  }

  .drop-in {
    font-size: 1.0rem;
  }

  .drop-in-info {
    font-size: 0.8rem;
  }

  .price {
    font-size: 1.0rem;
  }

  .price-info {
    font-size: 0.8rem;
  }
}

@media (max-width: 340px) {
  .gym-info-tabs {
      padding: 0 5px; 
      font-size: 0.6rem; 
  }
  .drop-in {
    font-size: 0.8rem;
  }

  .drop-in-info {
    font-size: 0.6rem;
  }

  .price {
    font-size: 0.8rem;
  }

  .price-info {
    font-size: 0.6rem;
  }

}