.card-img {
    object-fit: cover;
}

.content {

    background-color: #D9D9D9;
    border-radius: 50px;
  
    border: none;
    padding: 30px
}

.contentright {
    text-align: center;
    padding-top: 5px;
}

.contenttitle {
    font-size: 40 px;
}

.contentdate {

    font-size: 20px;
}

.contentinfo {
    font-size: 12px;
}